nav{
  background: rgb(212 83 83);
color: white;
text-align: center;
margin: 0;
padding: 4px;
position: fixed;
width: 100%;
left: 0;
top: 0;
}

.header_img{
  margin: 12px;
}


.maincontainer{
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-top: 3rem;
align-items: center;
  padding: 7% 0%;
}

.product_preview {
  width: 40%;
position: relative;
}
.time{
  font-weight: 900;
  font-size: 3rem;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}
.product_data{
  width: 40%;
  
}
.product_preview img{
  width:100%;

}
.product_title ,.product_description{
  margin-top: 0;
  margin-bottom: 2em;
}
.productfilter_img{
  width: 100%;
  max-width: 80px;
  /* border: 2px solid teal; */
  border-radius: 8px;
  margin-right:  1em;
  cursor: pointer;
}
.productfilter{
  display: flex;
  flex-wrap: wrap;
}
.selectImg{
  border: 2px solid teal;
}

.butitem>.buy {
  color: white;
  background-color:teal;
  max-width: 80px;
margin-top: 2em;
border-radius: 5px;
  border: 0;
  padding: 12px 25px;
  text-align: center;
cursor: pointer;
font-weight: 600;
box-sizing: content-box;
}